@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bangers';
  font-weight: normal;
  src: url('/fonts/bangers-v20-latin-regular.woff');
}
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('/fonts/Roboto-Thin.ttf') format('truetype');
}

/* TODO Miguel : tailwind ? */
html,
body,
#root {
  background-color: #362b1f;
  height: 100%;
  overscroll-behavior: none;
  width: 100%;
}

a {
  color: #e1b180;
}

p {
  margin-bottom: 1em;
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loader-container {
  transform: translateX(-50%) translateY(calc(-50% - 4.5em)) !important;
}

.loader {
  --s: 30px;
  --g: 10px;

  width: calc(3 * (1.353 * var(--s) + var(--g)));
  display: grid;
  justify-items: end;
  aspect-ratio: 3;
  overflow: hidden;
  --_m: linear-gradient(90deg, #0000, #000 15px calc(100% - 15px), #0000);
  -webkit-mask: var(--_m);
  mask: var(--_m);
  transform: scale(300%);
}

.loader:before {
  content: '';
  width: calc(4 * 100% / 3);
  background: conic-gradient(
    from -90deg at var(--s) calc(0.353 * var(--s)),
    #fff 135deg,
    #666 0 270deg,
    #aaa 0
  );
  --_m: linear-gradient(
      to bottom right,
      #0000 calc(0.25 * var(--s)),
      #000 0 calc(100% - calc(0.25 * var(--s)) - 1.414 * var(--g)),
      #0000 0
    ),
    conic-gradient(from -90deg at right var(--g) bottom var(--g), #000 90deg, #0000 0);
  -webkit-mask: var(--_m);
  mask: var(--_m);
  background-size: calc(100% / 4) 100%;
  -webkit-mask-size: calc(100% / 4) 100%;
  mask-size: calc(100% / 4) 100%;
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  animation: l8 1s infinite linear;
}

@keyframes l8 {
  to {
    transform: translate(calc(100% / 4));
  }
}

.loader-text {
  font-weight: bold;
  font-family: Bangers, sans-serif;
  animation: l1 1s linear infinite alternate;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5em;
}

.loader-text:before {
  content: 'Loading...';
}

@keyframes l1 {
  to {
    opacity: 0;
  }
}

.r3f,
.r3f-background-smoke {
  touch-action: none;
}

.r3f-background-smoke {
  background-color: #121212;
  z-index: 0;
}

.r3f-background-smoke {
  position: absolute !important;
}

.html-screen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background: #000000;
}

.enter-website-button {
  box-shadow: 3px 3px 20px black;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  letter-spacing: 1.8px;
  opacity: 0;
  padding: 0.2em 0.4px;
  transition: opacity 1s;
  transition-delay: 350ms;
  width: 4em;
}

.enter-website-button.visible {
  opacity: 1;
}
